@model IEnumerable<TaCertoForms.Models.ViewModelAtividade>

@{
    ViewBag.Title = "Index";    
}
<div class="content-wrapper">
    <section class="content-header">
        <h1>Atividades</h1>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")" data-toggle="tooltip" data-placement="bottom" data-original-title="Acesso a tela de boas vindas do sistema"><i class="fa fa-home"></i> Início</a>
            </li>
            <li class="active">
                <a href="@Url.Action("Index", "Atividade")" data-toggle="tooltip" data-placement="bottom" data-original-title="Acesso a tela de atividades">Atividades</a>
            </li>
        </ol>
    </section>

    <section class="content">
        <div class="alert-message"></div>
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
                <a href="@Url.Action("Create", "Atividade")" class="btn-cadastro btn btn-sm btn-primary btn-flat pull-right" data-toggle="tooltip" data-original-title="Realizar o cadastro de uma nova atividade">Novo registro</a>
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Período</th>
                            <th>Turma</th>
                            <th>Disciplina</th>
                            <th>Número de Tentativas</th>
                            <th>Questões Embaralhadas</th>
                            <th>Prova</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Titulo)</td>
                                <td>@Html.DisplayFor(modelItem => item.DataInicio) - @Html.DisplayFor(modelItem => item.DataFim)</td>
                                <td>@Html.DisplayFor(modelItem => item.nome_da_turma)</td>
                                <td>@Html.DisplayFor(modelItem => item.nome_da_materia)</td>
                                <td>@Html.DisplayFor(modelItem => item.NumeroTentativas)</td>
                                <td>@(item.IsAleatorio ? "Sim" : "Não")</td>
                                <td>@(item.IsProva ? "Sim" : "Não")</td>
                                <td>
                                    <a data-toggle="tooltip" data-placement="bottom" data-original-title="Editar as informações da atividade" href="@Url.Action("Edit", "Atividade", new { id = item.IdAtividade })" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                                    <!--
                                <a href="@Url.Action("Delete", "Atividade", new { id = item.IdAtividade })" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i></a>
                                -->
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </section>
</div>

<script type="text/javascript">
    $('#example1').DataTable({ "language": dados_translate,  "columnDefs": [{
            "targets": 7,
            "orderable": false
        }] });
</script>